.nav-item{
    padding-right: 30px;
}

.nav-item a{
    text-decoration: none;
    font-size: 14px;
}

.search{
    margin-top: 15px;
    background-color: #febb02;
    padding: 10px;
    border-radius: 5px;
}

.navbar {
    height: 45px;
}

