.menu_top_right{
    width: 100%;
    justify-content: right;
    align-items: center;
}

.menu_top{
    height: 70px;
}

.menu_top_right li a{
    color: #333;
    font-weight: 500;
}

.menu_top_right .post_news{
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

